<ion-card class="login-card">
  <ion-card-header class="login-header">
    <ion-card-title>RegistrapAPP</ion-card-title>
  </ion-card-header>
  <ion-card-content class="login-content">
    <form [formGroup]="formularioregistro">
      <ion-item class="login-input">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item class="login-input">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contraseña" type="password"></ion-input>
      </ion-item>
      <ion-item class="login-input">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input formControlName="confirmarcontraseña" type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" class="login-button" (click)="guardar()">
        Registrarse
      </ion-button>
      <div class="button-container">
        <a [routerLink]="['/login']" class="login-link">Volver</a>
      </div>
    </form>
  </ion-card-content>
</ion-card>