<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="login-title">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="login-title">RegistrapAPP</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true" class="login-content">
    <ion-card class="login-card">
      <ion-card-header class="login-header">
        <ion-card-title class="login-title">Restablecer Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content class="login-content">
        <form [formGroup]="formRecuperarContrasena">
          <ion-item class="login-input">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-button (click)="recuperarContrasena()" expand="full" class="login-button">
            Recuperar Contraseña
          </ion-button>
          <div class="login-link-container">
            <a [routerLink]="['/login']" class="login-link">
              Cancelar
            </a>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>